name: Continuous Integration
on: [push]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.11, 3.12, 3.13, 3.14]
        os: [ubuntu-24.04, macos-15]

    env:
      UV_PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up exiftool (Linux)
        if: matrix.os == 'ubuntu-24.04'
        run: |
          echo 'set man-db/auto-update false' | sudo debconf-communicate >/dev/null
          sudo dpkg-reconfigure man-db
          sudo apt-get update
          sudo apt-get install -y exiftool

      - name: Set up exiftool (macOS)
        if: matrix.os == 'macos-15'
        run: |
          brew install exiftool

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python venv
        run: |
          uv sync -p $UV_PYTHON_VERSION

      - name: Run tests
        shell: bash
        run: |
          uv run -p $UV_PYTHON_VERSION pytest -W error

      # - name: Report coverage with Codecov
      #   if: github.event_name == 'push' && matrix.python-version == 3.13 && matrix.os == 'ubuntu-24.04'
      #   uses: codecov/codecov-action@v5
      #   with:
      #     files: ./coverage.xml
      #     flags: unittests

      # - name: Upload test results to Codecov
      #   if: ${{ !cancelled() }} && matrix.python-version == 3.13 && matrix.os == 'ubuntu-24.04'
      #   uses: codecov/test-results-action@v1
